[Unit]
Description=RAM home for Bruger
Before=systemd-user-sessions.service

[Mount]
What=tmpfs
Where=/home/Bruger
Type=tmpfs
Options=size=2G,mode=700,uid=1001,gid=1001,nosuid,nodev

[Install]
WantedBy=multi-user.target