[Unit]
Description=Reset Bruger user before GNOME starts
Before=gdm.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/sikker-reset-bruger-home.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target